body{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  color: white;
  text-decoration: none;
}
nav{
  display: grid;
  grid-template-columns: 3fr 9fr;
  background-color: rgb(0, 0, 0);
  color: white;
  align-items: center;
}
nav > h2{
  text-align: center;
}
nav > ul{
  display: flex;
  justify-content: space-around;
}
nav > ul > li{
  position: relative;
}
nav > ul > li> a:hover, nav > ul > li > ul > li > a:hover{
  background-color: rgb(247, 153, 22);
}
nav > ul > li > ul{
  position: absolute;
  top: 47px;
  left: -10px;
  background-color: rgb(0, 0, 0);
}
nav > ul > li > ul > li{
  padding: 12px 24px;
  z-index: 99;
}